* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
}

.search {
    width: 700px;
    margin: 20px auto;
    background-color: rgb(92, 91, 91);
    color: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 10px 0;
    letter-spacing: 1px;
}

.card {
    height: 200px;
    width: 250px;
    margin: 20px;
    color: #fff;
    background-color: rgb(92, 91, 91);
}

h5 {
    text-align: center;
}

.img-box {
    text-align: center;
    padding: 55px 0;
    margin: 0 5px;
    height: 135px;
    width: 100px;
    background-color: #fff;
    color: rgb(92, 87, 87);
    border-radius: 5px;
}

.flex {
    display: flex;
}